# Region configuration for Platform Platform
# See docs/region_config.md for format details

regions:
  '':
    name: Default
    transactors:
      - external: ${WS_PROTOCOL}://${HOST_ADDRESS}/_transactor
        internal: ws://transactor:3333
    collaborators:
      - external: ${WS_PROTOCOL}://${HOST_ADDRESS}/_collaborator
        internal: ws://collaborator:3078
